*.swp
*.swo
*.tmp
*.bck
*.local
*_local
*-local
local/
.local*
*hist

pckr/
plugged/
build/
dist/
.*cache*
cache/

__pycache__/
.mypy_cache/
.dmypy.json
dmypy.json
.direnv/
.env
env/
venv/
.ropeproject

*.png
*.jpg
*.pdf
